.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Nav-link {
  color: #ffffff !important;
}
.Nav-link:hover {
  color: #F0b90B !important;
}
.primaryBtn {
  background-color: #F0b90B;
  color: black;
}
.primaryBtn:hover {
  background-color: #f8d151;
  color: black;
}
.bg-primary {
  background-color: #F0b90B !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
