

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Nav-link {
  color: #ffffff !important;
}
.Nav-link:hover {
  color: #F0b90B !important;
}
.primaryBtn {
  background-color: #F0b90B;
  color: black;
  color: #191d26
}
.primaryBtn:hover {
  background-color: #f8d151;
  color: #161c24;
}
.bg-primary {
  background-color: #F0b90B !important;
}
.graph {
  height: 500px;
  background-image: url('./images/graph.png');
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
